{% extends 'base.html.twig' %}

{% block title %}Home / Karim Moussouni{% endblock %}

{% block content %}

    {% include 'Blog/nav.html.twig' %}

    {% include 'Blog/header.html.twig' %}

    <div class="container">

        <section class="articles">

            <div class="column is-8 is-offset-2">

                {% for article in pager.currentPageResults %}
                    <div class="card article">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-center">
{#                                    <img src="{{ asset(article.image) }}" class="author-image" alt="Placeholder image">#}
                                </div>
                                <div class="media-content has-text-centered">
                                    <p class="title article-title"><a href="{{ path('blog_show', {slug: article.slug}) }}">{{ article.title|trans }}</a></p>
                                    <p class="subtitle is-6 article-subtitle">
                                        <a href="#">@{{ article.user.username }}</a> on {{ article.createdAt|date }}
                                    </p>
                                </div>
                            </div>
                            <div class="content article-body">
                                <p>
                                    {{ article.body|truncate(342) }}
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <div class="column is-8 is-offset-2">
                <div class="pagerfanta">
                    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {}) }}
                </div>
{#                pagination-previous and pagination-next for incremental navigation#}
{#                pagination-list which displays page items:#}

{#                pagination-link for the page numbers#}
{#                pagination-ellipsis fo#}
            </div>

        </section>

{#        <section class="articles">#}
{#        </section>#}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src={{ asset('build/runtime.js') }} type="text/javascript"></script>
    <script src="{{ asset('build/js/blog.min.js') }}" type="text/javascript"></script>

{#    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>#}
{#    <script>#}
{#        document.addEventListener("DOMContentLoaded", function() {#}
{#            OverlayScrollbars(document.querySelectorAll("body"), { });#}
{#        });#}
{#    </script>#}
{% endblock %}
